@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* ------------------------------ */
.bx{
    font-size: 30px !important
}

.profile-details img{
    width: 82% !important;
    border-radius: 20px !important;
}

#rlinkEdit {
    background-color: lime;
    color: black;
    border-radius: 8px;
    font-size: 18px;
    width: 120px;
    margin-bottom: 20px;
    padding:10px;
    DISPLAY: inline-block;
}

#btnSupp {
    background-color: red;
    color: black;
    border-radius: 8px;
    font-size: 18px;
    padding:10px;
    width: 120px;
    /* margin-left: 0px !important; */
}
/* -------------------------------------- */

#divCreer{
    justify-content: flex-end;
    padding-bottom: 20px;
}
#search{
width: 100% !important;
height: 100% !important;

}
::placeholder{
    font-size: 20px;
}
#divCreer .container-4{
width: 600px !important;
height: 80px !important;
}
#divCreer .container-4 .icon{
height: 100% !important;
}


